* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 130px;
}

@import "./Scss/about";
@import "./Scss/header";
@import "./Scss/project";
@import "./Scss/skills";
@import "./Scss/sitemain";
@import "./Scss/contact";
