// Css da section header toda
.header_area {
  .main-menu {
    .navbar {
      padding: 0% 20%;
      button {
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;
      }
      .navbar-brand {
        padding: 0 15%;
        img {
          max-width: 100px;
          max-height: 110px;
        }
      }
      .navbar-nav {
        .nav-item {
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
          font-size: 17px;
          padding: 1.5rem;
          a {
            color: #fff;
            &:hover {
              background: #893fee;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              transform: scale(1.1);
            }
          }
        }
        .active {
          a {
            background: #893fee;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}

// css da parte do botão open
#navicon {
  width: 50px;
  height: 45px;
  position: relative;
  margin: 0px auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    &:nth-child(1) {
      top: 0px;
      transform-origin: left center;
    }
    &:nth-child(2) {
      top: 18px;
      transform-origin: left center;
    }
    &:nth-child(3) {
      top: 36px;
      transform-origin: left center;
    }
  }
  /* scss - class open created on button.js file */
}

#navicon.open {
  span {
    &:nth-child(1) {
      transform: rotate(45deg);
      top: 0px;
      left: 8px;
    }
    &:nth-child(2) {
      width: 0px;
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
      top: 36px;
      left: 8px;
    }
  }
}

@media screen and (max-width: 600px) {
  .header_area {
    .main-menu {
      .navbar {
        padding: 0% 15%;
        opacity: 0.95;
        .navbar-nav {
          .active {
            a {
              background: #fff;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }
  }
}
