.site-main {
  padding: 5%;
  .site-banner {
    background: none;
    .site-tittle {
      padding: 10%;
      h3 {
        font-size: 2rem;
        font-family: "Times New Roman", Times, serif;
        &:after {
          content: "";
          height: 2px;
          width: 20vw;
          background: black;
          display: inline-block;
          margin-left: 1%;
          transform: translateY(3px);
        }
      }
      h1 {
        font-size: 5rem;
        font-family: "Times New Roman", Times, serif;
      }
      h4 {
        font-size: 0.9rem;
        font-family: "Times New Roman", Times, serif;
      }
      .site-buttons {
        button {
          padding: 0.6rem 1.6rem;
          font: normal bold;
          position: relative;
          margin-top: 10px;
          border: 3px solid transparent;
          border-radius: 3px;
        }
        button.firstbutton {
          background: lightblue;
          background-clip: padding-box;
          color: whitesmoke;
          transition: background 0.6s ease;
          &:hover {
            background: whitesmoke;
            background-clip: padding-box;
            color: black;
          }
          &:after {
            top: -2px;
            left: -2px;
            bottom: -2px;
            right: -2px;
            position: absolute;
            background: lightblue;
            content: "";
            z-index: -1;
            border-radius: 2px;
            outline: none;
          }
        }
        button.secondbutton {
          background: white;
          background-clip: padding-box;
          color: black;
          transition: background 0.6s ease;
          &:hover {
            background: lightblue;
            background-clip: padding-box;
            color: whitesmoke;
          }
          &::after {
            top: -2px;
            left: -2px;
            bottom: -2px;
            right: -2px;
            position: absolute;
            background: lightblue;
            content: "";
            z-index: -1;
            border-radius: 3px;
          }
        }
      }
    }
  }
  .banner-img {
    img {
      max-width: 650px;
      max-height: 629px;
    }
  }
}

@media screen and (max-width: 600px) {
  .site-main {
    .site-banner {
      .banner-img {
        img {
          max-width: 100%;
        }
      }
    }
  }
}
